[Unit]
Description=Autossh permanent ssh tunnels
After=network.target

[Service]
Type=forking

Environment="AUTOSSH_GATETIME=0"
ExecStart=/usr/bin/autosshd /etc/autossh/autosshd.conf


[Install]
WantedBy=multi-user.target